<div class="form-box">
    <form class="form-autocomplete" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field">
            <div class="flex-input">
                <input matInput placeholder="Search a User" aria-label="user" [matAutocomplete]="auto"
                    [formControl]="selectControl" class="input-user">
                <div class="button-profile" class="button-profile">
                    <button mat-raised-button color="accent" type="submit">View Profile</button>
                </div>
            </div>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUsers">
                <mat-option *ngFor=" let user of filteredList" [value]="user">
                    <div class="option-box">
                        <img class="option-img" aria-hidden [src]="user.avatar_url" height="27">
                        <div class="option-name">{{user.login}}</div>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>