.form-box {
    width: 30%;
    margin: auto;
    margin-top: 80px;
}

::ng-deep .form-autocomplete {
    width: auto;
    margin: auto;
}

.flex-input {
    display: flex;
    width: 150%;
}

.input-user {
    display: inline-block;
    width: 70%
}

.button-profile {
    width: 30%;
}

.option-img {
    border-radius: 100%;
}

::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.option-box {
    display: flex;
    justify-content: space-between;
}

.option-name {
    width: 70%;
}