<div *ngIf="user" class="profile-box">
  <button class="btn-goback"[routerLink]="['home']" routerLinkActive="router-link-active"  mat-raised-button color="accent">
    <div>&lArr; Go Back!</div>
  </button>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.login | uppercase}}</mat-card-title>
      <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="user.avatar_url" alt="{{user.avatar_url}}">
    <mat-card-content>
      <h5>Public repos: {{user.public_repos}}</h5>
      <h3>Biography</h3>
      <p *ngIf="user.bio">
        {{user.bio}}
      </p>
      <p *ngIf="!user.bio">
        this user has no biography...
      </p>
      <p>
        <a href="{{user.html_url}}" target="_blank" class="link-github">{{user.html_url}}</a>
      </p>
    </mat-card-content>
    
  </mat-card>
</div>
<div *ngIf="!user">
  <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
