<div *ngIf="user" class="profile-box">
  <button class="btn-goback" [routerLink]="['home']" routerLinkActive="router-link-active" mat-raised-button
    color="accent">
    <div>&lArr; Go Back!</div>
  </button>
  <div class="card">
    <div class="header-card">
      <div class="img-box">
        <img [src]="user.avatar_url" alt="{{user.avatar_url}}">
      </div>
      <div class="header-box">
        <h3 class="header">{{user.login | uppercase}}</h3>
        <h5>{{user.name}}</h5>
        <div class="box-url">
          <a href="{{user.html_url}}" target="_blank" class="link-user">{{user.html_url}}</a>
        </div>
      </div>
    </div>
    <div>
      <h3>Biography</h3>
      <p *ngIf="user.bio">
        {{user.bio}}
      </p>
      <p *ngIf="!user.bio">
        this user has no biography...
      </p>
      <div class="flex-info">
        <div class="box-info-repos">
          repos: {{user.public_repos}}
        </div>
        <div class="box-info-foll">
          Followers:{{user.followers}}
        </div>
      </div>
      <div class="repo-list">
        <div *ngFor="let repos of repo" class="repo-box">
          <div class="repos">
            <a href="{{repos.html_url}}" target="_blank" class="link-github">{{repos.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!user">
  <div class="lds-default">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>