.profile-box {
  width: 60%;
  margin: auto;
  margin-top: 15px;
  position: relative;
  min-height: 285px;
}

.header-box {
  width: 50%;
  margin: auto;
  text-align: center;
  min-width: 185px;
}

.card {
  border-radius: 18px;
  padding: 30px;
  background: rgb(140, 194, 255);
  background: linear-gradient(180deg, rgba(140, 194, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
  background-color: rgb(168, 205, 248);
  -webkit-box-shadow: 15px 12px 30px -5px rgba(166, 166, 166, 1);
  -moz-box-shadow: 15px 12px 30px -5px rgba(166, 166, 166, 1);
  box-shadow: 15px 12px 30px -5px rgba(166, 166, 166, 1);
  
}

.flex-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 190px;
}

.box-info-repos {
  width: 40%;
  font-weight: bold;
}

.box-info-foll {
  width: 40%;
  font-weight: bold;
}

.img-box {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.img-box>img {
  width: 100%;
  border-radius: 50%;
}
.link-user{
  width: 50%;
  margin:auto;
}

.link-github {
  color: rgba(74, 145, 226, 1);
  transition: all 0.8s;
}

.link-github:hover {
  color: rgb(21, 64, 114);
}

.btn-goback {
  position: absolute;
  left: -148px;
}

.repo-list {
  height: 70px;
  overflow-y: scroll;
  width: 50%;
  border: 0.8px dotted gray;
  padding: 10px
}

.repos {
  padding: 5px;
  margin-top: 3px;
  padding-left: 1px;
}

/********SCROLLBAR**********/

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 36px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*****************************************
**************SPINNER ANIMATION***********
*****************************************/

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(74, 145, 226, 1);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/************************************************
  **************MEDIAQUERY*************************
  ************************************************/

@media only screen and (max-width: 1000px) {
  .profile-box {
    width: 80%;
    margin: auto;
    margin-top: 20px
  }
  .btn-goback {
    position: absolute;
    left: 10px;
    bottom: -62px
  }
}

@media only screen and (max-width: 565px) {
  .profile-box {
    width: 80%;
    margin: auto;
    margin-top: 20px
  }
  .btn-goback {
    position: absolute;
    left: 10px;
    bottom: -62px
  }
}
@media only screen and (max-width: 445px) {
  .flex-info {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 190px;
  }
  .box-info-foll {
    margin-top: 8px;
    width: 40%;
    font-weight: bold;
  }
 
}